body {background-color: #f3eea5}
p {color: #ff7700; font-size: 25px;}
a {color: #ffdd00}
h1, h2 {color: #ff3336}
h1{font-size: 60px;}
h2{font-size: 45px;}
nav {background-color: #c8ed92;}
nav a {color: #ff7700;}
nav a:hover {background-color: #ff3336}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
label {color: #ff7700;}
.photoshop {max-width: 100%;}
.skip-main {background: #c8ed92; color: #ff3336; position: absolute; padding: 4px;}
@media only screen and (max-width: 600px) {nav a {display: block} span {display: none}}