body {background-color: #EDE574}
p {color: #ff8214; font-size: 25px;}
a {color: #ffe014}
h1, h2 {color: #FF4E50}
h1{font-size: 60px;}
h2{font-size: 45px;}
nav {background-color: #E1F5C4;}
nav a {color: #ff8214}
nav a:hover {background-color: #FF4E50}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
label {color: #ff8214;}
.photoshop {max-width: 100%;}
.links {font-size: 25px;}
.skip-main {background: #E1F5C4; color: #FF4E50; position: absolute; padding: 4px;}
@media only screen and (max-width: 600px) {nav a {display: block} span {display: none}}